<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />

    <rewrite>
    <rules>
        <rule name="RuleRemoveIndex" stopProcessing="true">
            <match url=".*" ignoreCase="false" />
            <conditions>
                        <add input="{HTTP_HOST}" pattern="codeonposphp.codeonlabs.vn" />
            </conditions>
            <action type="Rewrite" url="http://codeonposphp.codeonlabs.vn:8600/{R:0}" appendQueryString="true" />
        </rule>
    </rules>
    </rewrite>

</system.webServer>

<system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
</system.web>

</configuration>
